//
   Created by gerardo on 27/05/15.

doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.css')
        link(rel='stylesheet', href='/bower_components/bootstrap-social/bootstrap-social.css')
        link(rel='stylesheet', href='/bower_components/font-awesome/css/font-awesome.css')
        link(rel='stylesheet', href='/stylesheets/login.css')
        link(rel='stylesheet', href='/stylesheets/component.css')


    body
        div.demo-1

                div#large-header.large-header
                    canvas#demo-canvas
                div.container.login
                    form.form-signin
                            h2.form-signin-heading Please Login


                            a(href='auth/facebook').btn.btn-block.btn-lg.btn-social.btn-facebook
                                i.fa.fa-facebook
                                p Sign in with facebook


                            a(href='auth/twitter').btn.btn-block.btn-lg.btn-social.btn-twitter
                                i.fa.fa-twitter
                                p Sign in with Twitter

                            a(href='auth/google').btn.btn-block.btn-lg.btn-social.btn-google
                                i.fa.fa-google-plus
                                p Sign in with google




        script(type='text/javascript',src='bower_components/jquery/dist/jquery.min.js')
        script(type='text/javascript',src='bower_components/bootstrap/dist/js/bootstrap.min.js')
        script(type='text/javascript',src='javascript/TweenLite.min.js')
        script(type='text/javascript',src='javascript/EasePack.min.js')
        script(type='text/javascript',src='javascript/rAF.js')
        script(type='text/javascript',src='javascript/demo-1.js')


